<app-header
  [title]="'Calificaciones y reseñas'"
  [logo]="false"
  [backButton]="goBack.bind(this)"
/>

<ion-content [fullscreen]="true" *ngIf="game">
  <div class="fixed bottom-0 p-6 z-10 w-full">
    <app-custom-button
      label="Agregar mi reseña"
      buttonClass="shadowed size-sm"
      (click)="openAddReviewModal()"
    />
  </div>

  <div
    class="relative -translate-y-14 w-full h-96 animate-fade-in animate-duration-1000"
  >
    <ion-thumbnail class="size-full overflow-hidden">
      <img
        [ngSrc]="game.image"
        alt="{{ game.title }}"
        width="600"
        height="900"
        priority
        class="object-center object-cover"
      />
    </ion-thumbnail>
  </div>
  <div class="px-4 -translate-y-32 flex flex-col items-center justify-center">
    <app-logo size="w-12" />
    <h2 class="text-5xl font-black text-center font-geist">{{game.title}}</h2>
  </div>

  <div class="-translate-y-32 mt-2.5 fix-margin">
    <div class="p-4 pt-0 space-y-4">
      <!-- Plataformas y fecha de lanzamiento e imagen-->
      <div>
        <div class="flex items-center justify-center flex-wrap mb-1">
          <div
            *ngFor="let platform of game.detail.platforms"
            class="inline-flex grow items-center min-h-8 px-3 py-1.5 m-1 rounded-full bg-secondary-600/10 text-secondary-600"
          >
            <ion-icon
              [src]="'assets/icon/platform/' + platformIcon(platform) + '.svg'"
              class="size-4 mr-1"
            ></ion-icon>
            <span>{{ platform }}</span>
          </div>
        </div>
        <div class="flex items-center justify-center text-white-l">
          <ion-icon
            src="assets/icon/rocket.svg"
            class="size-3.5 mr-2"
          ></ion-icon>
          <span>
            {{ game.detail.releaseDate | date:'d \'de\' MMMM \'de\' y'}}
          </span>
        </div>
      </div>

      <article>
        <ion-segment
          [(ngModel)]="selectedSegment"
          (ionChange)="segmentChanged($event)"
          class="border-b border-secondary-600"
        >
          <ion-segment-button value="reviews">
            <ion-label>Reseñas</ion-label>
          </ion-segment-button>
          <ion-segment-button value="about">
            <ion-label>Detalles</ion-label>
          </ion-segment-button>
        </ion-segment>

        <!-- Reseñas -->
        <section
          *ngIf="selectedSegment === 'reviews'"
          class="flex flex-col space-y-4 my-6"
        >
          <!-- Clasificación -->
          <app-clasification [item]="game" />

          <!-- Reseñas -->
          <app-reviews
            [item]="game"
            [contentRef]="content"
            [refreshContentData]="refreshGameData"
          />
        </section>

        <!-- Detalles -->
        <section
          class="flex flex-col space-y-4 my-6"
          *ngIf="selectedSegment === 'about'"
        >
          <div class="w-full pb-2">
            <h3 class="text-2xl font-semibold text-white-h">
              {{ game.title }}
            </h3>
          </div>

          <div class="flex flex-col">
            <div class="mb-2">
              <h4 class="text-lg text-white-m">Resumen</h4>
            </div>
            <div class="mb-4">
              <p class="text-white-h text-sm">{{ game.description }}</p>
            </div>
            <div class="flex flex-col space-y-4">
              <div
                class="flex flex-col justify-center p-4 space-y-3 bg-surface-secondary-600 text-white-m rounded-xl text-sm"
              >
                <div class="inline-flex flex-col">
                  <span class="font-semibold text-white-h">Plataformas:</span>
                  <ul class="inline-flex p-0">
                    <li *ngFor="let plataform of game.detail.platforms">
                      {{ plataform }}
                    </li>
                  </ul>
                </div>
                <div class="inline-flex flex-col">
                  <span class="font-semibold text-white-h">
                    Fecha de lanzamiento:
                  </span>
                  <span>
                    {{ game.detail.releaseDate | date:'d \'de\' MMM, y'}}
                  </span>
                </div>
                <div class="inline-flex flex-col">
                  <span class="font-semibold text-white-h">
                    Desarrollador:
                  </span>
                  <span>{{ game.detail.developer }}</span>
                </div>
                <div class="inline-flex flex-col">
                  <span class="font-semibold text-white-h">Editor:</span>
                  <span>{{ game.detail.editor }}</span>
                </div>
                <div class="inline-flex flex-col">
                  <span class="font-semibold text-white-h">Géneros:</span>
                  <ul class="inline-flex p-0">
                    <li *ngFor="let genre of game.detail.genre" class="genre">
                      {{ genre }}
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </section>
      </article>
    </div>
  </div>
</ion-content>
