ion-content {
  --ion-background-color: transparent;
}

ion-thumbnail {
  mask-image: linear-gradient(to bottom, black, transparent);
}

ion-segment-button.md {
  --color: rgb(255 255 255 / var(--opacity-m));
  --color-checked: var(--color-secondary-600);
  --indicator-height: 4px;
}

li:after {
  content: ", ";
  margin-left: -3px;
  margin-right: 0.25rem;
}

li:last-child:after {
  content: "";
}

ion-avatar {
  --border-radius: 12px;
}

ion-button {
  min-height: auto;
}

ion-button::part(native) {
  --padding-start: 0;
  --padding-end: 0;
}
