<app-header
  [logo]="false"
  backButton="/signup/step-2"
  headerClass="no-transparent"
></app-header>

<ion-content>
  <div class="flex flex-col items-center h-full px-6 pb-6">
    <div class="w-full mt-20 mb-5">
      <div class="flex justify-center w-full">
        <p class="text-xl text-white-h text-center font-semibold">
          ¡Descubre, valora y comparte lo mejor del cine, la televisión y los
          videojuegos! Nos encanta tenerte por aquí.
        </p>
      </div>
    </div>

    <form
      [formGroup]="form"
      (ngSubmit)="submit()"
      class="flex flex-col justify-between size-full"
    >
      <div class="flex flex-col mt-6">
        <app-custom-input
          type="password"
          placeholder="Contraseña"
          [autofocus]="true"
          autocomplete="new-password"
          [control]="passwordControl"
        ></app-custom-input>

        <div
          *ngIf="canShowError && passwordControl.invalid"
          class="flex flex-col px-5 mt-1.5"
        >
          <span class="text-xs text-danger">
            {{ getErrorMessage('password') }}
          </span>
        </div>

        <app-custom-input
          type="password"
          placeholder="Confirmar contraseña"
          autocomplete="new-password"
          [control]="confirmPasswordControl"
          class="mt-6"
        ></app-custom-input>

        <div
          *ngIf="canShowError && confirmPasswordControl.invalid || canShowError && form.hasError('mismatch')"
          class="flex flex-col px-5 mt-1.5"
        >
          <span class="text-xs text-danger">
            {{ getErrorMessage('confirmPassword') }}
          </span>
        </div>
      </div>

      <!-- Botón personalizado de continuar -->
      <app-custom-button
        type="submit"
        [disabled]="isAnyFieldEmpty()"
        label="Regístrate"
        buttonClass="size-sm secondary"
        class="w-full mt-3"
      ></app-custom-button>
    </form>
  </div>
</ion-content>
