<app-header
  [title]="'Mis calificaciones y reseñas'"
  [logo]="false"
  [backButton]="dismiss.bind(this)"
/>

<ion-content [fullscreen]="true">
  <ion-segment
    [(ngModel)]="selectedSegment"
    (ionChange)="segmentChanged($event)"
    class="ion-padding-horizontal"
  >
    <ion-segment-button value="games">
      <ion-label>Juegos</ion-label>
    </ion-segment-button>
    <ion-segment-button value="movies">
      <ion-label>Películas</ion-label>
    </ion-segment-button>
    <ion-segment-button value="tv">
      <ion-label>TV</ion-label>
    </ion-segment-button>
  </ion-segment>

  <!-- Skeleton Loading Reutilizable -->
  <ng-template #loadingSkeleton>
    <div class="my-6 space-y-4">
      <ion-card
        class="rounded-xl"
        *ngFor="let review of gameReviews | slice : 0 : 3"
      >
        <div class="flex flex-col items-center justify-center w-full">
          <div class="flex items-center justify-center w-full">
            <div class="py-4 pl-4">
              <ion-thumbnail class="min-w-24 min-h-24">
                <ion-skeleton-text
                  animated="true"
                  class="size-full"
                ></ion-skeleton-text>
              </ion-thumbnail>
            </div>
            <div class="w-full">
              <ion-card-header>
                <ion-skeleton-text
                  animated="true"
                  class="w-2/3 h-5 rounded-full"
                ></ion-skeleton-text>
                <ion-skeleton-text
                  animated="true"
                  class="w-1/2 h-2 rounded-full mt-2"
                ></ion-skeleton-text>
              </ion-card-header>
              <ion-card-content>
                <div class="flex items-center gap-2">
                  <ion-skeleton-text
                    animated="true"
                    class="size-7 rounded-full"
                  ></ion-skeleton-text>
                  <ion-skeleton-text
                    animated="true"
                    class="w-1/3 h-4 rounded-full"
                  ></ion-skeleton-text>
                </div>
              </ion-card-content>
            </div>
          </div>
          <div class="px-4 pb-4 w-full">
            <div
              class="flex flex-col items-center justify-center w-full p-4 min-h-20 rounded-xl bg-surface-secondary-500 cursor-pointer"
            >
              <ion-skeleton-text
                animated="true"
                class="w-full h-4 rounded-full"
              ></ion-skeleton-text>
              <ion-skeleton-text
                animated="true"
                class="w-full h-4 rounded-full"
              ></ion-skeleton-text>
            </div>
          </div>
        </div>
      </ion-card>
    </div>
  </ng-template>

  <!-- Mostrar el skeleton cuando está cargando -->
  <ng-container *ngIf="isLoading">
    <ng-container *ngTemplateOutlet="loadingSkeleton"></ng-container>
  </ng-container>

  <!-- Reseñas de Juegos -->
  <div class="my-6 space-y-4" *ngIf="!isLoading && selectedSegment === 'games'">
    <ion-card class="rounded-xl" *ngFor="let review of gameReviews">
      <div class="flex flex-col items-center justify-center w-full">
        <div class="flex items-center justify-center w-full">
          <div class="py-4 pl-4">
            <ion-thumbnail
              [routerLink]="['/main/game-detail', review.contentId]"
              (click)="dismiss()"
              class="min-w-24 min-h-24 ripple-parent ion-activatable"
            >
              <img
                [alt]="review.title"
                [ngSrc]="review.image"
                width="80"
                height="80"
                class="size-full"
              />
              <ion-ripple-effect></ion-ripple-effect>
            </ion-thumbnail>
          </div>
          <div class="w-full">
            <ion-card-header>
              <ion-card-title
                [routerLink]="['/main/game-detail', review.contentId]"
                (click)="dismiss()"
                class="text-base text-white font-semibold w-fit ripple-parent ion-activatable"
              >
                {{ review.title }}
                <ion-ripple-effect></ion-ripple-effect>
              </ion-card-title>
              <ion-card-subtitle class="mt-0 text-xs text-white-m font-normal">
                Realizada el {{ review.date | date : "longDate" }}
              </ion-card-subtitle>
            </ion-card-header>

            <ion-card-content>
              <div class="flex items-center gap-2">
                <div
                  [ngClass]="[
                    'flex items-center justify-center size-7 rounded-full',
                    getRatingClass(review.rating)
                  ]"
                >
                  <span class="font-bold text-white">{{ review.rating }}</span>
                </div>
                <span>Mi calificación</span>
              </div>
            </ion-card-content>
          </div>
          <div class="absolute top-0 right-0 p-4">
            <ion-button
              expand="block"
              fill="clear"
              shape="round"
              class="size-8 custom"
              color="secondary"
              (click)="openEditDeletePopover($event, review)"
            >
              <ion-icon
                src="assets/icon/action/edit.svg"
                class="size-5 text-white-l"
              ></ion-icon>
            </ion-button>
          </div>
        </div>
        <!-- Si hay comentario -->
        <div
          class="flex flex-col items-end px-4 pb-4 w-full"
          *ngIf="review.comment && longReviewMap[review.id]; else shortReview"
        >
          <div
            class="line-clamp-container w-full p-4 min-h-20 rounded-xl bg-surface-secondary-500"
            [ngClass]="{ expanded: expandedReviews[review.id] }"
          >
            <p class="text-white font-normal text-sm">
              {{ review.comment }}
            </p>
          </div>
          <ion-button
            *ngIf="longReviewMap[review.id]"
            fill="clear"
            class="show-more text-xxs"
            (click)="toggleExpandReview(review.id)"
          >
            {{ expandedReviews[review.id] ? "Ver menos" : "Ver todo" }}
          </ion-button>
        </div>
        <ng-template #shortReview>
          <div class="px-4 pb-4 w-full">
            <div
              class="w-full p-4 min-h-20 rounded-xl bg-surface-secondary-500"
            >
              <p class="text-white font-normal text-sm">
                {{ review.comment }}
              </p>
            </div>
          </div>
        </ng-template>
        <!-- Si no hay comentario -->
        <div class="px-4 pb-4 w-full" *ngIf="!review.comment">
          <div
            class="flex flex-col items-center justify-center w-full p-4 min-h-20 rounded-xl bg-surface-secondary-500 cursor-pointer"
            (click)="editReview(review)"
          >
            <span class="text-white font-normal text-sm">
              Cuéntanos lo que piensas
            </span>
            <span class="text-white-l underline font-normal text-xs">
              Escribe una reseña
            </span>
          </div>
        </div>
      </div>
    </ion-card>
  </div>

  <!-- Reseñas de Películas -->
  <div
    class="my-6 space-y-4"
    *ngIf="!isLoading && selectedSegment === 'movies'"
  >
    <ion-card class="rounded-xl" *ngFor="let review of movieReviews">
      <div class="flex flex-col items-center justify-center w-full">
        <div class="flex items-center justify-center w-full">
          <div class="py-4 pl-4">
            <ion-thumbnail
              [routerLink]="['/main/movie-detail', review.contentId]"
              (click)="dismiss()"
              class="min-w-24 min-h-24 ripple-parent ion-activatable"
            >
              <img
                [alt]="review.title"
                [ngSrc]="review.image"
                width="80"
                height="80"
                class="size-full"
              />
              <ion-ripple-effect></ion-ripple-effect>
            </ion-thumbnail>
          </div>
          <div class="w-full">
            <ion-card-header>
              <ion-card-title
                [routerLink]="['/main/movie-detail', review.contentId]"
                (click)="dismiss()"
                class="text-base text-white font-semibold w-fit ripple-parent ion-activatable"
              >
                {{ review.title }}
                <ion-ripple-effect></ion-ripple-effect>
              </ion-card-title>
              <ion-card-subtitle class="mt-0 text-xs text-white-m font-normal">
                Realizada el {{ review.date | date : "longDate" }}
              </ion-card-subtitle>
            </ion-card-header>

            <ion-card-content>
              <div class="flex items-center gap-2">
                <div
                  [ngClass]="[
                    'flex items-center justify-center size-7 rounded-full',
                    getRatingClass(review.rating)
                  ]"
                >
                  <span class="font-bold text-white">{{ review.rating }}</span>
                </div>
                <span>Mi calificación</span>
              </div>
            </ion-card-content>
          </div>
          <div class="absolute top-0 right-0 p-4">
            <ion-button
              expand="block"
              fill="clear"
              shape="round"
              class="size-8 custom"
              color="secondary"
              (click)="editReview(review)"
            >
              <ion-icon
                src="assets/icon/action/edit.svg"
                class="size-5 text-white-l"
              ></ion-icon>
            </ion-button>
          </div>
        </div>
        <!-- Si hay comentario -->
        <div class="px-4 pb-4 w-full" *ngIf="review.comment">
          <div
            class="flex items-center justify-center w-full p-4 min-h-20 rounded-xl bg-surface-secondary-500"
          >
            <span class="text-white font-normal text-sm">
              {{ review.comment }}
            </span>
          </div>
        </div>

        <!-- Si no hay comentario -->
        <div class="px-4 pb-4 w-full" *ngIf="!review.comment">
          <div
            class="flex flex-col items-center justify-center w-full p-4 min-h-20 rounded-xl bg-surface-secondary-500 cursor-pointer"
            (click)="editReview(review)"
          >
            <span class="text-white font-normal text-sm">
              Cuéntanos lo que piensas
            </span>
            <span class="text-white-l underline font-normal text-xs">
              Escribe una reseña
            </span>
          </div>
        </div>
      </div>
    </ion-card>
  </div>

  <!-- Reseñas de Series -->
  <div class="my-6 space-y-4" *ngIf="!isLoading && selectedSegment === 'tv'">
    <ion-card class="rounded-xl" *ngFor="let review of tvShowReviews">
      <div class="flex flex-col items-center justify-center w-full">
        <div class="flex items-center justify-center w-full">
          <div class="py-4 pl-4">
            <ion-thumbnail
              [routerLink]="['/main/tv-detail', review.contentId]"
              (click)="dismiss()"
              class="min-w-24 min-h-24 ripple-parent ion-activatable"
            >
              <img
                [alt]="review.title"
                [ngSrc]="review.image"
                width="80"
                height="80"
                class="size-full"
              />
              <ion-ripple-effect></ion-ripple-effect>
            </ion-thumbnail>
          </div>
          <div class="w-full">
            <ion-card-header>
              <ion-card-title
                [routerLink]="['/main/tv-detail', review.contentId]"
                (click)="dismiss()"
                class="text-base text-white font-semibold w-fit ripple-parent ion-activatable"
              >
                {{ review.title }}
                <ion-ripple-effect></ion-ripple-effect>
              </ion-card-title>
              <ion-card-subtitle class="mt-0 text-xs text-white-m font-normal">
                Realizada el {{ review.date | date : "longDate" }}
              </ion-card-subtitle>
            </ion-card-header>

            <ion-card-content>
              <div class="flex items-center gap-2">
                <div
                  [ngClass]="[
                    'flex items-center justify-center size-7 rounded-full',
                    getRatingClass(review.rating)
                  ]"
                >
                  <span class="font-bold text-white">{{ review.rating }}</span>
                </div>
                <span>Mi calificación</span>
              </div>
            </ion-card-content>
          </div>
          <div class="absolute top-0 right-0 p-4">
            <ion-button
              expand="block"
              fill="clear"
              shape="round"
              class="size-8 custom"
              color="secondary"
              (click)="editReview(review)"
            >
              <ion-icon
                src="assets/icon/action/edit.svg"
                class="size-5 text-white-l"
              ></ion-icon>
            </ion-button>
          </div>
        </div>
        <!-- Si hay comentario -->
        <div class="px-4 pb-4 w-full" *ngIf="review.comment">
          <div
            class="flex items-center justify-center w-full p-4 min-h-20 rounded-xl bg-surface-secondary-500"
          >
            <span class="text-white font-normal text-sm">
              {{ review.comment }}
            </span>
          </div>
        </div>

        <!-- Si no hay comentario -->
        <div class="px-4 pb-4 w-full" *ngIf="!review.comment">
          <div
            class="flex flex-col items-center justify-center w-full p-4 min-h-20 rounded-xl bg-surface-secondary-500 cursor-pointer"
            (click)="editReview(review)"
          >
            <span class="text-white font-normal text-sm">
              Cuéntanos lo que piensas
            </span>
            <span class="text-white-l underline font-normal text-xs">
              Escribe una reseña
            </span>
          </div>
        </div>
      </div>
    </ion-card>
  </div>

  <div
    class="relative flex h-1/2 my-6"
    *ngIf="
      (!isLoading && selectedSegment === 'games' && gameReviews.length === 0) ||
      (!isLoading &&
        selectedSegment === 'movies' &&
        movieReviews.length === 0) ||
      (!isLoading && selectedSegment === 'tv' && tvShowReviews.length === 0)
    "
  >
    <div class="flex items-center justify-center absolute inset-0">
      <img
        src="assets/empty-screen-reviews.webp"
        alt=""
        class="opacity-40 w-2/3"
      />
    </div>
    <div class="relative flex flex-col items-center justify-end size-full">
      <h3 class="mt-4 font-semibold text-center text-white-h">
        Aún no has calificado nada
      </h3>
      <small class="text-white-l">
        Tus calificaciones y reseñas se guardarán aquí.
      </small>
    </div>
  </div>
</ion-content>
