<ion-header
  [translucent]="true"
  class="ion-no-border"
  [ngClass]="[headerClass || '']"
>
  <ion-toolbar>
    <ion-buttons *ngIf="shouldShowBackButton()" slot="start" class="ml-2">
      <ion-button (click)="onBackButtonClick()">
        <ion-icon slot="icon-only" name="arrow-back" class="size-6"></ion-icon>
      </ion-button>
    </ion-buttons>
    <div *ngIf="logo" class="flex items-center h-full pl-4">
      <img
        [ngSrc]="'assets/logo/critic-verse-horizontal-logo-350x100.webp'"
        alt="Critic Verse Logo"
        width="128"
        height="37"
        priority="true"
        class="w-32"
      />
    </div>
    <ion-title
      *ngIf="!logo"
      slot="start"
      class="text-xl font-semibold text-white"
    >
      {{ title }}
    </ion-title>

    <ng-content
      slot="end"
      class="custom-slot"
      select="[custom-slot]"
    ></ng-content>
  </ion-toolbar>
</ion-header>
