ion-header {
  --ion-background-color: var(--surface-primary-600-50);
  -webkit-backdrop-filter: blur(16px);
  backdrop-filter: blur(16px);
}

ion-header.no-transparent {
  --ion-background-color: var(--surface-primary-600);
}

ion-button {
  width: 42px !important;
  height: 42px !important;
}

ion-button::part(native) {
  --padding-top: 8px;
  --padding-bottom: 8px;
  --padding-start: 8px;
  --padding-end: 8px;
}
