<ion-item
  color="transparent"
  class="bg-surface-secondary-600/80 text-white-h rounded-2xl"
>
  <ion-icon
    *ngIf="icon"
    [name]="icon"
    slot="start"
    class="text-white-l"
  ></ion-icon>
  <ion-input
    #inputElement
    [type]="type"
    autofocus="true"
    [autocomplete]="autocomplete"
    [label]="label"
    [placeholder]="placeholder"
    [formControl]="control"
    [value]="value"
    color="primary"
  ></ion-input>

  <ion-button
    *ngIf="isPassword"
    (click)="showOrHide()"
    slot="end"
    fill="clear"
    shape="round"
    class="size-10 text-white-l"
  >
    <ion-icon
      slot="icon-only"
      [name]="hide ? 'eye' : 'eye-off'"
      class="size-6"
    ></ion-icon>
  </ion-button>
</ion-item>
