<app-header
  [title]="'Lista de usuarios'"
  [logo]="false"
  [backButton]="dismiss.bind(this)"
></app-header>

<ion-content [fullscreen]="true">
  <div class="flex flex-col gap-4 py-6 px-4">
    <div class="flex flex-col gap-4">
      <div class="flex justify-between gap-3 items-end">
        <ion-button
          color="secondary"
          class="search-btn font-normal letter-spacing-normal"
        >
          <ion-icon name="search" class="size-4 text-white-h"></ion-icon>
          <span class="inline-flex w-full text-white-l ml-1">Buscar</span>
        </ion-button>
        <ion-button
          color="secondary"
          class="add-btn font-normal letter-spacing-normal"
        >
          Agregar nuevo
          <ion-icon slot="end" name="add-outline"></ion-icon>
        </ion-button>
      </div>
      <div class="flex justify-between items-center">
        <span class="text-white-l text-sm">
          Total: {{ users.length }} usuarios
        </span>
      </div>
    </div>

    <div
      class="flex flex-col p-2 rounded-xl gap-4 max-h-xl overflow-auto bg-surface-secondary-600"
      style="min-height: 476px"
    >
      <table class="min-w-full w-full text-white-h h-full">
        <thead>
          <tr class="bg-surface-secondary-400 shadow-small text-sm rounded-lg">
            <th
              class="h-10 align-middle text-start px-3 py-2 rounded-l-lg ion-activatable relative overflow-hidden"
              (click)="sortUsersBy('username')"
            >
              Usuario
              <ion-icon
                [name]="
                  sortAscendingUsername
                    ? 'chevron-up-outline'
                    : 'chevron-down-outline'
                "
                class="inline-block ml-2 size-3 chevron"
              ></ion-icon>
              <ion-ripple-effect></ion-ripple-effect>
            </th>
            <th
              class="h-10 align-middle text-start px-3 py-2 ion-activatable relative overflow-hidden"
              (click)="sortUsersBy('role')"
            >
              Rol
              <ion-icon
                [name]="
                  sortAscendingRole
                    ? 'chevron-up-outline'
                    : 'chevron-down-outline'
                "
                class="inline-block ml-2 size-3 chevron"
              ></ion-icon>
              <ion-ripple-effect></ion-ripple-effect>
            </th>
            <th
              class="h-10 align-middle text-start px-3 py-2 rounded-r-lg"
            ></th>
          </tr>
        </thead>
        <tbody class="text-xs h-full">
          <tr *ngFor="let user of paginatedUsers" class="h-10">
            <td class="align-middle text-start pr-3 py-2">
              <div class="inline-flex items-center justify-center gap-2">
                <ion-thumbnail>
                  <img
                    [ngSrc]="user.profileImage || 'assets/avatar-demo.svg'"
                    width="150"
                    height="150"
                    alt="avatar"
                  />
                </ion-thumbnail>
                <div class="inline-flex flex-col items-start">
                  <span>{{ user.username }}</span>
                  <span class="text-white-l">{{ user.email }}</span>
                </div>
              </div>
            </td>
            <td class="align-middle text-start px-3 py-2">{{ user.role }}</td>
            <td class="align-middle text-center pl-3 py-2">
              <ion-button
                color="primary"
                fill="clear"
                shape="round"
                color="secondary"
                (click)="openUserOptions(user)"
              >
                <ion-icon
                  slot="icon-only"
                  src="assets/icon/options.svg"
                  class="text-white-l"
                ></ion-icon>
              </ion-button>
            </td>
          </tr>

          <!-- Se rellena la tabla si hay menos de 7 usuarios -->
          <tr
            *ngFor="
              let i of [].constructor(7 - paginatedUsers.length);
              let idx = index
            "
            class="h-10"
          >
            <td class="align-middle text-start pr-3 py-2"></td>
            <td class="align-middle text-start px-3 py-2"></td>
            <td class="align-middle text-center pl-3 py-2"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="px-4 pb-6 fixed bottom-0 inset-x-0">
    <mat-paginator
      #paginator
      class="demo-paginator"
      (page)="handlePageEvent($event)"
      [length]="length"
      [pageSize]="pageSize"
      [pageIndex]="pageIndex"
      [showFirstLastButtons]="showFirstLastButtons"
      [hidePageSize]="true"
      aria-label="Select page"
    ></mat-paginator>
  </div>
</ion-content>
