<app-header
  [title]="'Detalles de mi cuenta'"
  [logo]="false"
  [backButton]="dismiss.bind(this)"
/>

<ion-content [fullscreen]="true">
  <ion-list [inset]="true">
    <ion-item detail="true">
      <ion-label>
        <h3>Correo electrónico</h3>
        <p>{{ user.email }}</p>
      </ion-label>
    </ion-item>
    <ion-item detail="true">
      <ion-label>
        <h3>Nombre de usuario</h3>
        <p>{{ user.username }}</p>
      </ion-label>
    </ion-item>
    <ion-item detail="true">
      <ion-label>
        <h3>Fecha de nacimiento</h3>
        <p>{{ user.birthdate | date : "dd/MM/yyyy" }}</p>
      </ion-label>
    </ion-item>
    <ion-item detail="true">
      <ion-label>
        <h3>Te uniste el</h3>
        <p>{{ user.createdAt | date : "dd/MM/yyyy" }}</p>
      </ion-label>
    </ion-item>
    <ion-item detail="true">
      <ion-label>
        <h3>Contraseña</h3>
        <p>************</p>
      </ion-label>
    </ion-item>
    <div class="flex flex-col px-4 mt-4">
      <h3 class="text-base text-danger font-semibold">Eliminar cuenta</h3>
      <small class="text-white-m mt-2"
        >Una vez que eliminas tu cuenta, no hay vuelta atrás. Por favor, debes
        estar seguro.
      </small>
      <ion-item (click)="showAlert()" detail="true" class="custom-item mt-4">
        <ion-label>
          <h3>Eliminar mi cuenta</h3>
        </ion-label>
      </ion-item>
    </div>
  </ion-list>
</ion-content>
