<app-header
  [logo]="false"
  backButton="/login/login-password"
  headerClass="no-transparent"
></app-header>

<ion-content [fullscreen]="true">
  <div class="flex flex-col items-center justify-between h-full px-6 pb-6">
    <div class="w-full mt-20 mb-5">
      <div class="flex flex-col justify-center w-full space-y-3">
        <p class="text-xl text-white-h text-center font-semibold">
          ¡Listo! Te hemos enviado un correo para que restablezcas tu
          contraseña.
        </p>
        <p class="text-sm text-white-m text-center leading-tight">
          ¿No lo has recibido? Mira en tu carpeta de correo no deseado.
        </p>
      </div>
    </div>
    <app-custom-button
      type="button"
      label="Abrir correo"
      buttonClass="size-sm secondary"
      class="w-full"
    />
  </div>
</ion-content>
