<app-header
  [title]="'Cambiar contraseña'"
  [logo]="false"
  [backButton]="dismiss.bind(this)"
/>

<ion-content [fullscreen]="true">
  <div class="flex flex-col items-center h-full px-6 pb-6">
    <form
      [formGroup]="form"
      (ngSubmit)="onSubmit()"
      class="flex flex-col justify-between size-full"
    >
      <div class="flex flex-col mt-20 space-y-6">
        <!-- Campo de Contraseña Actual usando app-custom-input -->
        <app-custom-input
          type="password"
          placeholder="Contraseña actual"
          autocomplete="current-password"
          [control]="currentPasswordControl"
        ></app-custom-input>

        <!-- Campo de Nueva Contraseña usando app-custom-input -->
        <app-custom-input
          type="password"
          placeholder="Nueva contraseña"
          autocomplete="new-password"
          [control]="newPasswordControl"
        ></app-custom-input>

        <!-- Campo de Confirmación de Contraseña usando app-custom-input -->
        <app-custom-input
          type="password"
          placeholder="Confirmar nueva contraseña"
          autocomplete="new-password"
          [control]="confirmPasswordControl"
        ></app-custom-input>

        <small class="text-xs text-center text-white-m"
          >La nueva contraseña debe tener al menos 8 caracteres*</small
        >
      </div>
      <app-custom-button
        [disabled]="isAnyFieldEmpty()"
        type="submit"
        label="Actualizar contraseña"
        buttonClass="size-sm secondary"
        class="w-full mt-3"
      ></app-custom-button>
    </form>
  </div>
</ion-content>
