<app-header
  [title]="'Cambiar contraseña'"
  [logo]="false"
  [backButton]="dismiss.bind(this)"
></app-header>

<ion-content [fullscreen]="true">
  <div class="flex flex-col items-center h-full py-6 px-6">
    <form
      [formGroup]="form"
      (ngSubmit)="onSubmit()"
      class="flex flex-col justify-between size-full"
    >
      <div class="flex flex-col mt-20 space-y-4">
        <app-custom-input
          type="password"
          placeholder="Contraseña actual"
          autocomplete="current-password"
          [autofocus]="true"
          [control]="currentPasswordControl"
        ></app-custom-input>

        <div
          *ngIf="canShowError && currentPasswordControl.hasError('incorrect')"
          class="px-5 mt-1.5"
        >
          <span class="text-xs text-danger"
            >La contraseña actual no coincide con la registrada.</span
          >
        </div>
        <div
          *ngIf="
            canShowError &&
            currentPasswordControl.invalid &&
            !currentPasswordControl.hasError('incorrect')
          "
          class="px-5 mt-1.5"
        >
          <span class="text-xs text-danger">Este campo es obligatorio.</span>
        </div>

        <app-custom-input
          type="password"
          placeholder="Nueva contraseña"
          autocomplete="new-password"
          [control]="newPasswordControl"
        ></app-custom-input>

        <div
          *ngIf="canShowError && newPasswordControl.invalid"
          class="flex flex-col px-5 mt-1.5"
        >
          <span class="text-xs text-danger">
            {{ getErrorMessage(this.form, "newPassword") }}
          </span>
        </div>

        <app-custom-input
          type="password"
          placeholder="Confirmar nueva contraseña"
          autocomplete="new-password"
          [control]="confirmPasswordControl"
        ></app-custom-input>

        <div
          *ngIf="canShowError && confirmPasswordControl.invalid"
          class="flex flex-col px-5 mt-1.5"
        >
          <span class="text-xs text-danger">
            {{ getErrorMessage(this.form, "confirmPassword") }}
          </span>
        </div>
        <div
          *ngIf="canShowError && form.hasError('mismatch')"
          class="flex flex-col px-5 mt-1.5"
        >
          <span class="text-xs text-danger">
            Las contraseñas deben coincidir.
          </span>
        </div>

        <small class="text-xs text-center text-white-m">
          La nueva contraseña debe tener al menos 8 caracteres y cumplir con los
          requisitos de seguridad.*
        </small>
      </div>

      <app-custom-button
        [disabled]="isAnyFieldEmpty()"
        type="submit"
        label="Actualizar contraseña"
        buttonClass="size-sm secondary"
        class="w-full mt-3"
      ></app-custom-button>
    </form>
  </div>
</ion-content>
