<app-header></app-header>

<ion-content [fullscreen]="true">
  <!--Admin float button-->
  <app-admin-float-btn class="fixed bottom-0 right-0 z-50" />

  <!-- Contenido -->
  <article class="py-4">
    <!-- Juegos -->
    <app-home-carousel-section
      title="Juegos"
      [list]="gameList"
      [activeIndices]="activeIndicesGame"
      detailRoute="/main/game-detail"
      viewAllRoute="/main/game"
      carouselClass="carousel-slide-game"
      [isLoading]="isLoading"
    ></app-home-carousel-section>

    <!-- Películas -->
    <app-home-carousel-section
      title="Películas"
      [list]="movieList"
      [activeIndices]="activeIndicesMovie"
      detailRoute="/main/movie-detail"
      viewAllRoute="/main/movie"
      carouselClass="carousel-slide-movie"
      sectionClass="mt-10"
      [isLoading]="isLoading"
    ></app-home-carousel-section>

    <!-- Programas de TV -->
    <app-home-carousel-section
      title="Programas de TV"
      [list]="tvList"
      [activeIndices]="activeIndicesTv"
      detailRoute="/main/tv-detail"
      viewAllRoute="/main/tv"
      carouselClass="carousel-slide-tv"
      sectionClass="mt-10"
      [isLoading]="isLoading"
    ></app-home-carousel-section>
  </article>
</ion-content>
