<app-header></app-header>

<ion-content [fullscreen]="true">
  <!--Games-->
  <ion-card>
    <ion-card-header>
      <ion-card-title class="text-white">
        Videojuegos
        <ion-icon
          name="game-controller-outline"
          style="margin-left: 5px"
        ></ion-icon>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list *ngFor="let game of gameList">
        <ion-item>
          <ion-thumbnail slot="start" class="w-16 h-16">
            <img alt="{{ game.title }}" src="{{ game.image }}" />
          </ion-thumbnail>
          <div>
            <ion-label>{{ game.title }}</ion-label>

            <ion-card-subtitle
              *ngIf="game.rating >= 0 && game.rating < 4"
              color="danger"
            >
              {{ game.rating }}
            </ion-card-subtitle>

            <ion-card-subtitle
              *ngIf="game.rating >= 4 && game.rating < 6"
              color="warning"
            >
              {{ game.rating }}
            </ion-card-subtitle>

            <ion-card-subtitle
              *ngIf="game.rating >= 6 && game.rating <= 10"
              color="success"
            >
              {{ game.rating }}
            </ion-card-subtitle>
          </div>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <!--Movies-->
  <ion-card>
    <ion-card-header>
      <ion-card-title class="text-white">
        Peliculas
        <ion-icon name="videocam-outline" style="margin-left: 5px"></ion-icon>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list *ngFor="let movie of movieList">
        <ion-item>
          <ion-thumbnail slot="start" class="w-16 h-16">
            <img alt="{{ movie.title }}" src="{{ movie.image }}" />
          </ion-thumbnail>
          <div>
            <ion-label>{{ movie.title }}</ion-label>

            <ion-card-subtitle
              *ngIf="movie.rating >= 0 && movie.rating < 4"
              color="danger"
            >
              {{ movie.rating }}
            </ion-card-subtitle>

            <ion-card-subtitle
              *ngIf="movie.rating >= 4 && movie.rating < 6"
              color="warning"
            >
              {{ movie.rating }}
            </ion-card-subtitle>

            <ion-card-subtitle
              *ngIf="movie.rating >= 6 && movie.rating <= 10"
              color="success"
            >
              {{ movie.rating }}
            </ion-card-subtitle>
          </div>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <!--TvShows-->
  <ion-card>
    <ion-card-header>
      <ion-card-title class="text-white">
        Programas de TV
        <ion-icon name="tv-outline" style="margin-left: 5px"></ion-icon>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list *ngFor="let tv of tvList">
        <ion-item>
          <ion-thumbnail slot="start" class="w-16 h-16">
            <img alt="{{ tv.title }}" src="{{ tv.image }}" />
          </ion-thumbnail>
          <div>
            <ion-label>{{ tv.title }}</ion-label>

            <ion-card-subtitle
              *ngIf="tv.rating >= 0 && tv.rating < 4"
              color="danger"
            >
              {{ tv.rating }}
            </ion-card-subtitle>

            <ion-card-subtitle
              *ngIf="tv.rating >= 4 && tv.rating < 6"
              color="warning"
            >
              {{ tv.rating }}
            </ion-card-subtitle>

            <ion-card-subtitle
              *ngIf="tv.rating >= 6 && tv.rating <= 10"
              color="success"
            >
              {{ tv.rating }}
            </ion-card-subtitle>
          </div>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
