.carousel {
  max-width: 48rem;
  margin: auto;
  --slide-height: 235.5px;
  --slide-spacing: 1rem;
  --slide-size: 44%;
}
.carousel-viewport {
  padding-left: var(--slide-spacing);
  overflow: hidden;
  position: relative;
}
.carousel-container {
  display: flex;
  margin-left: calc(var(--slide-spacing) * -1);
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}
.carousel-slide-game,
.carousel-slide-movie,
.carousel-slide-tv {
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
  scroll-snap-align: start;
  transition: opacity 0.5s ease, transform 0.5s ease;
  opacity: 0.5;
  transform: scale(0.95);
}
.carousel-slide-game:last-child,
.carousel-slide-movie:last-child,
.carousel-slide-tv:last-child {
  margin-right: var(--slide-spacing);
}
.carousel-slide-img {
  border-radius: 12px;
  display: block;
  height: var(--slide-height);
  width: 100%;
  object-fit: cover;
}

.carousel-slide-game.active,
.carousel-slide-movie.active,
.carousel-slide-tv.active {
  opacity: 1;
  transform: scale(1);
}

.ripple-parent {
  border-radius: 12px;
  position: relative;
  overflow: hidden;
}
