<app-header title="Juegos" [logo]="false"></app-header>

<ion-content [fullscreen]="true">
  <!--Admin float button-->
  <app-admin-float-btn class="fixed bottom-0 right-0 z-50" />

  <ion-card>
    <ion-card-content>
      <ion-list>
        <ion-item
          *ngFor="let game of gameList"
          [routerLink]="['/main/game-detail', game.id]"
        >
          <ion-thumbnail slot="start" class="w-16 h-16">
            <img alt="{{ game.title }}" src="{{ game.image }}" />
          </ion-thumbnail>
          <div>
            <ion-label>{{ game.title }}</ion-label>

            <ion-card-subtitle
              *ngIf="game.rating >= 0 && game.rating < 4"
              color="danger"
            >
              {{ game.rating }}
            </ion-card-subtitle>

            <ion-card-subtitle
              *ngIf="game.rating >= 4 && game.rating < 6"
              color="warning"
            >
              {{ game.rating }}
            </ion-card-subtitle>

            <ion-card-subtitle
              *ngIf="game.rating >= 6 && game.rating <= 10"
              color="success"
            >
              {{ game.rating }}
            </ion-card-subtitle>
          </div>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
