ion-item {
  --border-color: var(--surface-secondary-600);

  --inner-padding-top: 8px;
  --inner-padding-bottom: 8px;
  --inner-padding-start: 16px;
}

ion-item {
  --inner-border-width: 0 0 1px 0;
  --inner-padding-start: 0;
  --inner-padding-end: 0;
}

ion-thumbnail {
  --size: 40px;
  --border-radius: 12px;
}

.fade-out {
  animation: fadeOut 0.3s ease forwards;
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-20px);
  }
}
