<app-header
  [title]="'Notificaciones'"
  [logo]="false"
  [backButton]="dismiss.bind(this)"
></app-header>

<ion-content [fullscreen]="true">
  <!-- Mostrar placeholders mientras se cargan las notificaciones -->
  <ion-list
    *ngIf="loading"
    mode="ios"
    class="border-t border-surface-secondary-600"
  >
    <ion-item
      *ngFor="let skeleton of [1, 2, 3, 4, 5]"
      mode="md"
      class="items-start"
    >
      <ion-thumbnail class="mr-4 min-w-10">
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-thumbnail>
      <div class="my-0.5 w-full space-y-2">
        <div>
          <ion-skeleton-text
            animated
            class="w-1/2 rounded-full"
          ></ion-skeleton-text>
        </div>
        <div>
          <ion-skeleton-text
            animated
            class="w-4/5 h-4 rounded-full"
          ></ion-skeleton-text>
        </div>
      </div>
      <div class="w-1/12" slot="end">
        <ion-skeleton-text animated class="rounded-full"></ion-skeleton-text>
      </div>
    </ion-item>
  </ion-list>

  <!-- Mostrar notificaciones cuando ya han cargado -->
  <ion-list
    *ngIf="!loading && notifications.length > 0"
    mode="ios"
    class="border-t border-surface-secondary-600"
  >
    <ion-item-sliding
      *ngFor="let notification of notifications"
      mode="md"
      [ngClass]="{ 'fade-out': notification.deleting }"
      (ionDrag)="onDrag($event, notification.id)"
    >
      <ion-item mode="md" class="items-start">
        <ion-thumbnail *ngIf="notification.imageUrl" class="mr-4 min-w-10">
          <img
            [src]="notification.imageUrl"
            alt="noti"
            width="40"
            height="40"
            class="size-10"
          />
        </ion-thumbnail>
        <div class="my-0.5">
          <span class="text-white-h text-wrap font-semibold">{{
            notification.title
          }}</span
          ><br />
          <small class="text-xs text-white-l text-wrap">{{
            notification.body
          }}</small>
        </div>
        <div class="metadata-end-wrapper" slot="end">
          <small class="text-sm text-white-l">{{
            notification.relativeTime
          }}</small>
        </div>
      </ion-item>

      <!-- Opción expandible para eliminar -->
      <ion-item-options side="end">
        <ion-item-option
          class="bg-danger"
          expandable
          (click)="deleteNotification(notification.id)"
        >
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <div
    *ngIf="!loading && notifications.length === 0"
    class="relative flex h-1/2 my-6"
  >
    <div class="flex items-center justify-center absolute inset-0">
      <img
        src="assets/empty-screen-notifications.webp"
        alt=""
        class="opacity-40 w-3/5"
      />
    </div>
    <div class="relative flex flex-col items-center justify-end size-full">
      <h3 class="mt-4 font-semibold text-center text-white-h">
        No tienes notificaciones
      </h3>
      <small class="text-white-l">Tus notificaciones se mostrarán aquí.</small>
    </div>
  </div>
</ion-content>
