<app-header [logo]="false" backButton="/login/login-password"></app-header>

<ion-content>
  <div class="flex flex-col items-center h-full pb-6 px-6">
    <div class="w-full mt-20 mb-5">
      <div class="flex flex-col justify-center w-full space-y-3">
        <p class="text-xl text-white-h text-center font-semibold">
          Responde a la pregunta de seguridad
        </p>
        <span class="text-sm text-white-m text-center leading-tight">
          ¿No la has configurado? ¿Olvidaste tu respuesta?
        </span>
        <p class="text-sm text-white-m text-center leading-tight">
          Contacta con nosotros a
          <a href="mailto:admin@duocuc.cl" class="text-secondary-600">
            soporte&#64;criticverse.com
          </a>
          indicándonos tu correo y nombre de usuario de CriticVerse y la
          respuesta que podrías haber proporcionado para que podamos ayudarte.
        </p>
      </div>
    </div>
    <form
      [formGroup]="form"
      (ngSubmit)="onSubmit()"
      class="flex flex-col justify-between size-full"
    >
      <div class="flex flex-col mt-6 space-y-4">
        <ion-label class="text-white-h text-center font-medium">
          {{ securityQuestion || noQuestion }}
        </ion-label>

        <app-custom-input
          *ngIf="securityQuestion"
          type="text"
          placeholder="Ingresa tu respuesta"
          [autofocus]="true"
          [control]="form.controls['securityAnswer']"
        ></app-custom-input>

        <div
          *ngIf="canShowError && form.controls['securityAnswer'].invalid"
          class="flex flex-col px-5 mt-1.5"
        >
          <span class="text-xs text-danger">Este campo es obligatorio.</span>
        </div>
      </div>

      <app-custom-button
        [disabled]="form.invalid"
        type="submit"
        label="Verificar respuesta"
        buttonClass="size-sm secondary"
        class="w-full mt-3"
      ></app-custom-button>
    </form>
  </div>
</ion-content>
