<app-header [logo]="false" backButton="/login/login-password"></app-header>

<ion-content>
  <div class="flex flex-col items-center h-full pb-6 px-6">
    <div class="w-full mt-20 mb-5">
      <div class="flex flex-col justify-center w-full space-y-3">
        <p class="text-xl text-white-h text-center font-semibold">
          Responde a la pregunta de seguridad
        </p>
        <span class="text-sm text-white-m text-center leading-tight">
          ¿No la has configurado? ¿Olvidaste tu respuesta?
        </span>
        <p class="text-sm text-white-m text-center leading-tight">
          Contacta con nosotros a
          <a
            href="mailto:soporte@criticverse.com?subject=Recuperación de cuenta de CriticVerse"
            class="text-secondary-600"
          >
            soporte&#64;criticverse.com
          </a>
          indicándonos tu correo y nombre de usuario de CriticVerse para que
          podamos ayudarte.
        </p>
      </div>
    </div>
    <form
      [formGroup]="form"
      (ngSubmit)="onSubmit()"
      class="flex flex-col justify-between size-full"
    >
      <div class="flex flex-col mt-6 w-full">
        <ion-label position="stacked">Pregunta de seguridad</ion-label>
        <ion-select
          formControlName="securityQuestion"
          placeholder="Selecciona una pregunta"
          mode="md"
          [interfaceOptions]="customAlertOptions"
          cancelText="Cancelar"
          okText="Seleccionar"
          color="primary"
          class="text-white-m font-medium text-sm"
        >
          <ion-select-option
            *ngFor="let question of questions"
            [value]="question"
          >
            {{ question }}
          </ion-select-option>
        </ion-select>

        <app-custom-input
          type="text"
          placeholder="Tu respuesta"
          [control]="form.controls['securityAnswer']"
        ></app-custom-input>

        <div
          *ngIf="canShowError && form.invalid"
          class="flex flex-col px-5 mt-1.5"
        >
          <span class="text-xs text-danger">
            Todos los campos son obligatorios.
          </span>
        </div>
      </div>

      <app-custom-button
        [disabled]="form.invalid"
        type="submit"
        label="Verificar respuesta"
        buttonClass="size-sm secondary"
        class="w-full mt-3"
      ></app-custom-button>
    </form>
  </div>
</ion-content>
