<ion-app>
  <!-- Menu -->
  <ion-menu type="push" side="end" menuId="first" contentId="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title>
          {{ pageTitle }}
        </ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-menu-toggle>
          <ion-item routerLink="/home">Inicio</ion-item>
          <ion-item routerLink="/game">Juegos</ion-item>
          <ion-item routerLink="/movie">Películas</ion-item>
          <ion-item routerLink="/tv">Tv</ion-item>
        </ion-menu-toggle>
      </ion-list>
      <ion-footer>
        <ion-list>
          <ion-item class="menu-bottom">
            <ion-avatar slot="start">
              <img
                alt="Silhouette of a person's head"
                src="https://ionicframework.com/docs/img/demos/avatar.svg"
              />
            </ion-avatar>
            <ion-buttons slot="end">
              <ion-button *ngIf="showSettings">
                <ion-icon name="settings-outline"></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-item>
        </ion-list>
      </ion-footer>
    </ion-content>
  </ion-menu>

  <!-- Main content -->
  <ion-router-outlet id="main-content">
    <ion-tabs (ionTabsDidChange)="tabChanged($event)">
      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="home">
          <div class="flex items-center justify-center h-full py-2.5">
            <div
              class="inner-tab flex flex-col items-center justify-center gap-x-2 overflow-hidden"
            >
              <app-svg-icons
                [iconName]="selectedTab === 'home' ? 'fill-home' : 'home'"
              ></app-svg-icons>
              <span class="text-11 w-10 text-nowrap">Inicio</span>
            </div>
          </div>
        </ion-tab-button>
        <ion-tab-button tab="game">
          <div class="flex items-center justify-center h-full py-2.5">
            <div
              class="inner-tab flex flex-col items-center justify-center gap-x-2 overflow-hidden"
            >
              <app-svg-icons
                class="game-icon"
                [iconName]="
                  selectedTab === 'game'
                    ? 'fill-game-controller'
                    : 'game-controller'
                "
              ></app-svg-icons>
              <span class="text-11 w-10 text-nowrap">Juegos</span>
            </div>
          </div>
        </ion-tab-button>
        <ion-tab-button tab="movie">
          <div class="flex items-center justify-center h-full py-2.5">
            <div
              class="inner-tab flex flex-col items-center justify-center gap-x-2 overflow-hidden"
            >
              <app-svg-icons
                [iconName]="selectedTab === 'movie' ? 'fill-movie' : 'movie'"
              ></app-svg-icons>
              <span class="text-11 w-10 text-nowrap">Pelis</span>
            </div>
          </div>
        </ion-tab-button>
        <ion-tab-button tab="tv">
          <div class="flex items-center justify-center h-full py-2.5">
            <div
              class="inner-tab flex flex-col items-center justify-center gap-x-2 overflow-hidden"
            >
              <app-svg-icons
                [iconName]="selectedTab === 'tv' ? 'fill-tv' : 'tv'"
              ></app-svg-icons>
              <span class="text-11 w-10 text-nowrap">Tv</span>
            </div>
          </div>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-router-outlet>
</ion-app>
