ion-menu::part(container) {
  border-radius: 20px 0 0 20px;
}

ion-content::part(scroll) {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 20px 0 0 20px;
}

ion-menu.md ion-header {
  ion-toolbar {
    --background: var(--surface-secondary-600) !important;
  }
}

ion-menu.md ion-content {
  --background: var(--surface-secondary-600) !important;
}

ion-menu.md ion-list {
  --ion-background-color: var(--surface-secondary-600) !important;

  ion-item {
    --ion-border-color: var(--surface-secondary-500) !important;
    --background: var(--surface-secondary-600) !important;
    --padding-start: 24px;
    --padding-end: 24px;
  }

  ion-item.menu-bottom {
    --inner-border-width: 0 0 0 0;
  }
}

ion-menu.md ion-footer {
  box-shadow: none;
  --background: var(--surface-secondary-600) !important;
}
