ion-thumbnail {
  --size: 120px;
  --border-radius: 50%;
}

ion-item {
  --ion-background-color: transparent;
}

img {
  height: 100%;
}

.ripple-parent {
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}
