<app-header
  title="Editar perfil"
  [logo]="false"
  [backButton]="dismiss.bind(this)"
/>

<ion-content>
  <div class="flex flex-col items-center size-full py-6 px-6">
    <div class="flex items-center justify-center mb-5">
      <div class="ion-activatable ripple-parent">
        <ion-thumbnail (click)="fileInput.click()" class="cursor-pointer">
          <img
            [src]="
              userCopy.profileImage ||
              'https://ionicframework.com/docs/img/demos/avatar.svg'
            "
          />
          <ion-ripple-effect></ion-ripple-effect>
        </ion-thumbnail>
      </div>

      <input
        type="file"
        #fileInput
        (change)="onFileSelected($event)"
        accept="image/*"
        hidden
      />
    </div>

    <div
      class="flex flex-col p-5 bg-surface-secondary-600 w-full rounded-xl space-y-4"
    >
      <div class="flex flex-col w-full px-2">
        <ion-label position="stacked">Nombre de usuario</ion-label>
        <ion-input
          required
          color="primary"
          clearInput
          [(ngModel)]="userCopy.username"
        ></ion-input>
      </div>
      <div class="flex flex-col w-full px-2" disabled="true">
        <ion-label position="stacked">Correo electrónico</ion-label>
        <ion-input
          disabled
          required
          color="primary"
          clearInput
          [(ngModel)]="userCopy.email"
        ></ion-input>
      </div>
    </div>

    <div class="flex items-end justify-center size-full">
      <app-custom-button
        [action]="saveChanges"
        label="Guardar Cambios"
        buttonClass="size-sm secondary"
        class="w-full"
      />
    </div>
  </div>
</ion-content>
