<ion-tabs (ionTabsDidChange)="tabChanged($event)">
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <div class="flex items-center justify-center h-full py-2.5">
        <div
          class="inner-tab flex flex-col items-center justify-center gap-1 overflow-hidden"
        >
          <ion-icon
            [src]="
              selectedTab === 'home'
                ? 'assets/icon/core/home-fill.svg'
                : 'assets/icon/core/home.svg'
            "
            class="size-5"
          ></ion-icon>
          <span class="text-11 w-10 text-nowrap">Inicio</span>
        </div>
      </div>
    </ion-tab-button>
    <ion-tab-button tab="game">
      <div class="flex items-center justify-center h-full py-2.5">
        <div
          class="inner-tab flex flex-col items-center justify-center w-10 overflow-hidden"
        >
          <ion-icon
            [src]="
              selectedTab === 'game'
                ? 'assets/icon/core/game-fill.svg'
                : 'assets/icon/core/game.svg'
            "
            class="size-5 game-icon"
          ></ion-icon>
          <span class="text-11 w-10 text-nowrap">Juegos</span>
        </div>
      </div>
    </ion-tab-button>
    <ion-tab-button tab="movie">
      <div class="flex items-center justify-center h-full py-2.5">
        <div
          class="inner-tab flex flex-col items-center justify-center gap-1 overflow-hidden"
        >
          <ion-icon
            [src]="
              selectedTab === 'movie'
                ? 'assets/icon/core/movie-fill.svg'
                : 'assets/icon/core/movie.svg'
            "
            class="size-5"
          ></ion-icon>
          <span class="text-11 w-10 text-nowrap">Pelis</span>
        </div>
      </div>
    </ion-tab-button>
    <ion-tab-button tab="tv">
      <div class="flex items-center justify-center h-full py-2.5">
        <div
          class="inner-tab flex flex-col items-center justify-center gap-1 overflow-hidden"
        >
          <ion-icon
            [src]="
              selectedTab === 'tv'
                ? 'assets/icon/core/tv-fill.svg'
                : 'assets/icon/core/tv.svg'
            "
            class="size-5"
          ></ion-icon>
          <span class="text-11 w-10 text-nowrap">Tv</span>
        </div>
      </div>
    </ion-tab-button>
    <ion-tab-button tab="profile">
      <div class="flex items-center justify-center h-full py-2.5">
        <div
          class="inner-tab flex flex-col items-center justify-center gap-1 overflow-hidden"
        >
          <ion-icon
            [src]="
              selectedTab === 'profile'
                ? 'assets/icon/core/profile-fill.svg'
                : 'assets/icon/core/profile.svg'
            "
            class="size-5"
          ></ion-icon>
          <span class="text-11 w-10 text-nowrap">Mi Perfil</span>
        </div>
      </div>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
