<app-header
  [logo]="false"
  backButton="/auth"
  headerClass="no-transparent"
></app-header>

<ion-content>
  <div class="flex flex-col items-center h-full px-6 pb-6">
    <div class="w-full mt-20 mb-5">
      <div class="flex justify-center w-full">
        <p class="text-xl text-white-h text-center font-semibold">
          Introduce tu correo<br />
          para registrarte o iniciar sesión:
        </p>
      </div>
    </div>

    <form
      [formGroup]="form"
      (ngSubmit)="submit()"
      (keypress.enter)="submit()"
      class="flex flex-col justify-between size-full"
    >
      <div class="flex flex-col mt-6">
        <app-custom-input
          type="email"
          placeholder="example@gmail.com"
          [autofocus]="true"
          autocomplete="email"
          [control]="form.controls.email"
        />

        <div
          *ngIf="canShowError && form.controls.email.errors"
          class="flex flex-col px-5 mt-1.5 space-y-2"
        >
          <span
            *ngIf="form.controls.email.errors?.['email'] || form.controls.email.errors?.['invalidDomain']"
            class="text-xs text-danger"
          >
            La dirección de correo electrónico es incorrecta. ¡Vuelve a
            intentarlo!
          </span>
          <span
            *ngIf="form.controls.email.errors?.['maxlength']"
            class="text-xs text-danger"
          >
            ¡La dirección de correo electrónico es demasiado larga!
          </span>
        </div>
      </div>

      <app-custom-button
        [disabled]="!form.controls.email.value"
        label="Continuar"
        buttonClass="size-sm secondary"
      />
    </form>
  </div>
</ion-content>
