ion-button {
  min-height: auto;
}

ion-button::part(native) {
  --padding-start: 0;
  --padding-end: 0;
}

ion-segment-button.md {
  --color: rgb(255 255 255 / var(--opacity-m));
  --color-checked: var(--color-secondary-600);
  --indicator-height: 4px;
  text-transform: capitalize;
}

.fade-out {
  animation: fadeOut 2s forwards;
  animation-delay: 1s;
}

@keyframes fadeOut {
  to {
    opacity: 0;
  }
}
