.background {
  background: linear-gradient(
    to bottom,
    var(--surface-secondary-400) 0%,
    transparent 100%
  );
}

ion-list {
  --ion-background-color: var(--surface-secondary-600-20);
}

ion-item {
  --ion-background-color: transparent;
  --border-color: var(--surface-secondary-600);
  --inner-border-width: 0 0 1px 0;
  --inner-padding-top: 8px;
  --inner-padding-bottom: 8px;
}

ion-item:last-child {
  --inner-border-width: 0 0 0 0;
}

ion-item.custom {
  --inner-padding-start: 24px;
  --inner-padding-end: 24px;
}

ion-toggle {
  --handle-background: var(--surface-secondary-500);
  --track-background: var(--surface-secondary-300);
}

ion-select {
  --border-width: 0;
  --highlight-height: 0;
  --highlight-color: var(--color-primary-600);
}

ion-select::part(label) {
  color: rgb(255 255 255);
}

ion-thumbnail {
  --size: inherit;
  --border-radius: 10px;
  height: 130px;
  width: 90px;
}

ion-item {
  --ion-background-color: transparent;
}

img {
  height: 100%;
}

.ripple-parent {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 0 20px 0 var(--color-secondary-100-90);
}

ion-textarea.custom {
  --background: var(--surface-secondary-600);
  --border-radius: 12px;
  --border-color: var(--surface-secondary-600);
  --padding-top: 12px;
  --padding-bottom: 12px;
  --padding-end: 12px;
  --padding-start: 16px;
  --placeholder-opacity: 0.3;
  --ion-color-step-550: rgb(255 255 255 / var(--opacity-l));
  --highlight-color: var(--color-primary-600);
  --highlight-color-invalid: var(--color-danger);
  font-size: 14px;

  .textarea-bottom.sc-ion-textarea-md {
    padding-top: 10px;
  }
}
