<app-header
  [title]="'Calificaciones y reseñas'"
  [logo]="false"
  [backButton]="goBack.bind(this)"
/>
<ion-content [fullscreen]="true" *ngIf="tv">
  <div class="fixed bottom-0 p-6 z-10 w-full">
    <app-custom-button label="Agregar mi reseña" buttonClass="blurred" />
  </div>

  <div class="relative -translate-y-14 w-full h-96">
    <ion-thumbnail class="size-full overflow-hidden">
      <img
        [ngSrc]="tv.image"
        width="600"
        height="900"
        class="object-center size-full"
      />
    </ion-thumbnail>
  </div>
  <div class="-translate-y-32 flex flex-col items-center justify-center">
    <app-logo size="w-12" />
    <h2 class="text-5xl font-black text-center font-geist">{{tv.title}}</h2>
  </div>

  <div class="-translate-y-32 m-2.5">
    <div class="p-4 pt-0 space-y-4">
      <!-- Géneros, Director, Productores, etc. -->
      <div>
        <div class="flex items-center justify-center flex-wrap mb-1">
          <div
            *ngFor="let genre of tv.genre"
            class="inline-flex grow items-center min-h-8 px-3 py-1.5 m-1 rounded-full bg-secondary-600/10 text-secondary-600"
          >
            <span>{{ genre }}</span>
          </div>
        </div>
        <div class="flex items-center justify-center text-white-l">
          <ion-icon src="assets/icon/rocket.svg" class="size-3 mr-2"></ion-icon>
          <span> {{ tv.releaseDate | date:'d \'de\' MMMM \'de\' y'}} </span>
        </div>
      </div>

      <hr class="h-px w-full bg-surface-secondary-600" />

      <article>
        <ion-segment
          [(ngModel)]="selectedSegment"
          (ionChange)="segmentChanged($event)"
        >
          <ion-segment-button value="reviews">
            <ion-label>Reseñas</ion-label>
          </ion-segment-button>
          <ion-segment-button value="about">
            <ion-label>Acerca de</ion-label>
          </ion-segment-button>
        </ion-segment>

        <!-- Clasificación -->
        <section
          *ngIf="selectedSegment === 'reviews'"
          class="flex flex-col space-y-4 my-6"
        >
          <div class="flex flex-col space-y-4 mb-12">
            <div class="flex flex-col w-full">
              <div class="flex items-center">
                <div class="flex flex-col w-full mr-4">
                  <span
                    class="text-white-l text-sm letter-spacing-widest uppercase"
                  >
                    Rating mundial
                  </span>
                  <span class="text-white-h text-base font-semibold">
                    {{ getRatingDescription(tv.rating) }}
                  </span>
                  <span class="text-white-l text-sm">Basada en 93 reseñas</span>
                </div>
                <div
                  [ngClass]="['flex items-center justify-center min-h-20 min-w-20 rounded-xl', tv.rating >= 0 && tv.rating < 4 ? 'bg-danger' : tv.rating >= 4 && tv.rating < 6 ? 'bg-warning' : 'bg-success']"
                >
                  <span class="font-geist font-black text-4xl text-white">
                    {{ tv.rating }}
                  </span>
                </div>
              </div>
              <div
                [ngClass]="['w-full h-1.5 mt-4 rounded-full', tv.rating >= 0 && tv.rating < 4 ? 'bg-danger' : tv.rating >= 4 && tv.rating < 6 ? 'bg-warning' : 'bg-success']"
              ></div>
            </div>
            <div class="flex flex-col w-full">
              <div class="flex items-center">
                <div class="flex flex-col w-full mr-4">
                  <span
                    class="text-white-l text-sm letter-spacing-widest uppercase"
                  >
                    Rating de usuarios
                  </span>
                  <span class="text-white-h text-base font-semibold">
                    {{ getUserRatingDescription(getAverageRating(tv)) }}
                  </span>
                  <span class="text-white-l text-sm"
                    >Basada en {{ tv.reviews.length}} {{ tv.reviews.length > 1 ?
                    'reseñas' : 'reseña'}}</span
                  >
                </div>
                <div
                  [ngClass]="['flex items-center justify-center min-h-20 min-w-20 rounded-xl', getAverageRating(tv) >= 0 && getAverageRating(tv) < 4 ? 'bg-danger' : getAverageRating(tv) >= 4 && getAverageRating(tv) < 6 ? 'bg-warning' : 'bg-success']"
                >
                  <span class="font-geist font-black text-4xl text-white">
                    {{ getAverageRating(tv) }}
                  </span>
                </div>
              </div>
              <div
                [ngClass]="['w-full h-1.5 mt-4 rounded-full', getAverageRating(tv) >= 0 && getAverageRating(tv) < 4 ? 'bg-danger' : getAverageRating(tv) >= 4 && getAverageRating(tv) < 6 ? 'bg-warning' : 'bg-success']"
              ></div>
            </div>
          </div>

          <div class="w-full pb-2 border-b border-surface-secondary-600">
            <h3 class="text-2xl font-semibold text-white-h">Reseñas</h3>
          </div>

          <!-- Reseñas -->
          <div class="flex flex-col space-y-4">
            <div
              *ngFor="let review of tv.reviews"
              class="p-4 bg-surface-secondary-600 rounded relative"
            >
              <div class="flex flex-col space-y-4 text-white-h">
                <header class="flex items-center justify-between w-full">
                  <div class="inline-flex items-center gap-3">
                    <ion-avatar class="size-8 rounded-xl">
                      <img
                        alt="Foto de perfil"
                        src="https://i.pinimg.com/474x/a2/1b/2f/a21b2fe8289e98d82d3ef6dc2e6441bc.jpg"
                      />
                    </ion-avatar>
                    <span class="text-lg font-semibold">JorgitoParrilla</span>
                  </div>

                  <div
                    [ngClass]="['flex items-center justify-center size-7 rounded-full', review.rating >= 0 && review.rating < 4 ? 'bg-danger' : review.rating >= 4 && review.rating < 6 ? 'bg-warning' : 'bg-success']"
                  >
                    <span class="font-bold text-white">
                      {{ review.rating }}
                    </span>
                  </div>
                </header>
                <p class="text-sm">{{ review.comment }}</p>
                <footer
                  class="flex items-center justify-end pt-4 border-t border-surface-secondary-400"
                >
                  <div class="inline-flex items-center gap-4">
                    <small class="text-xs text-white-l"
                      >{{ review.date | date:'d \'de\' MMM, y' }}</small
                    >
                    <ion-button
                      (click)="presentActionSheet()"
                      expand="block"
                      fill="clear"
                      shape="round"
                      class="size-8"
                      color="secondary"
                    >
                      <ion-icon
                        src="assets/icon/report.svg"
                        class="size-5 text-white-l"
                      ></ion-icon>
                    </ion-button>
                  </div>
                </footer>
              </div>
            </div>
          </div>
        </section>

        <!-- Acerca de -->
        <section
          class="flex flex-col space-y-4 my-6"
          *ngIf="selectedSegment === 'about'"
        >
          <div class="w-full pb-2 border-b border-surface-secondary-600">
            <h3 class="text-2xl font-semibold text-white-h">Detalles</h3>
          </div>

          <div class="flex flex-col">
            <div class="mb-2">
              <h4 class="text-lg text-white-m">Resumen</h4>
            </div>
            <div class="mb-4">
              <p class="text-white-h text-sm">{{ tv.description }}</p>
            </div>
            <div class="flex flex-col space-y-4">
              <div
                class="flex flex-col justify-center p-4 space-y-2 bg-surface-secondary-600 text-white-m rounded-xl text-sm"
              >
                <div class="inline-flex gap-2">
                  <span class="font-semibold text-white-h">Géneros:</span>
                  <ul class="inline-flex p-0">
                    <li *ngFor="let genre of tv.genre">{{ genre }}</li>
                  </ul>
                </div>
                <div class="inline-flex gap-2">
                  <span class="font-semibold text-white-h">
                    Fecha de lanzamiento:
                  </span>
                  <span> {{ tv.releaseDate | date:'d \'de\' MMM, y' }} </span>
                </div>
                <div class="inline-flex gap-2">
                  <span class="font-semibold text-white-h">
                    Duración del episodio:
                  </span>
                  <span> {{ tv.episodeDuration }} </span>
                </div>
                <div class="inline-flex gap-2">
                  <span class="font-semibold text-white-h"> Director: </span>
                  <span> {{ tv.director.join(', ') }} </span>
                </div>
                <div class="inline-flex gap-2">
                  <span class="font-semibold text-white-h"> Productores: </span>
                  <span> {{ tv.producers.join(', ') }} </span>
                </div>
                <div class="inline-flex gap-2">
                  <span class="font-semibold text-white-h">
                    Plataformas de Streaming:
                  </span>
                  <span> {{ tv.streamingPlatforms.join(', ') }} </span>
                </div>
              </div>
            </div>
          </div>
        </section>
      </article>
    </div>
  </div>
</ion-content>
