<app-header
  [title]="'Calificaciones y reseñas'"
  [logo]="false"
  [backButton]="goBack.bind(this)"
/>
<ion-content [fullscreen]="true" *ngIf="tv">
  <div class="fixed bottom-0 p-6 z-10 w-full">
    <app-custom-button
      label="Agregar mi reseña"
      buttonClass="blurred size-sm"
    />
  </div>

  <div class="relative -translate-y-14 w-full h-96">
    <ion-thumbnail class="size-full overflow-hidden">
      <img
        [ngSrc]="tv.image"
        alt="{{ tv.title }}"
        width="600"
        height="900"
        priority
        class="object-center object-cover"
      />
    </ion-thumbnail>
  </div>
  <div class="px-4 -translate-y-32 flex flex-col items-center justify-center">
    <app-logo size="w-12" />
    <h2 class="text-5xl font-black text-center font-geist">{{tv.title}}</h2>
  </div>

  <div class="-translate-y-32 my-2.5">
    <div class="p-4 pt-0 space-y-4">
      <!-- Géneros, Director, Productores, etc. -->
      <div>
        <div class="flex items-center justify-center flex-wrap mb-1">
          <div
            *ngFor="let genre of tv.detail.genre"
            class="inline-flex grow items-center min-h-8 px-3 py-1.5 m-1 rounded-full bg-secondary-600/10 text-secondary-600"
          >
            <span>{{ genre }}</span>
          </div>
        </div>
        <div class="flex items-center justify-center flex-wrap mb-1">
          <div
            class="inline-flex grow items-center min-h-8 px-3 py-1.5 m-1 rounded-full bg-primary-600/10 text-primary-600"
          >
            <ion-icon
              src="assets/icon/time.svg"
              class="size-3.5 mr-2"
            ></ion-icon>
            <span>{{ tv.detail.seasons }} temporadas</span>
          </div>
        </div>
        <div class="flex items-center justify-center text-white-l">
          <ion-icon
            src="assets/icon/rocket.svg"
            class="size-3.5 mr-2"
          ></ion-icon>
          <span>
            {{ tv.detail.releaseDate | date:'d \'de\' MMMM \'de\' y'}}
          </span>
        </div>
      </div>

      <hr class="h-px w-full bg-surface-secondary-600" />

      <article>
        <ion-segment
          [(ngModel)]="selectedSegment"
          (ionChange)="segmentChanged($event)"
        >
          <ion-segment-button value="reviews">
            <ion-label>Reseñas</ion-label>
          </ion-segment-button>
          <ion-segment-button value="about">
            <ion-label>Acerca de</ion-label>
          </ion-segment-button>
        </ion-segment>

        <section
          *ngIf="selectedSegment === 'reviews'"
          class="flex flex-col space-y-4 my-6"
        >
          <!-- Clasificación -->
          <div class="flex flex-col space-y-4 mb-12">
            <div class="flex flex-col w-full">
              <div class="flex items-center">
                <div class="flex flex-col w-full mr-4">
                  <span
                    class="text-white-l text-sm letter-spacing-widest uppercase"
                  >
                    Rating mundial
                  </span>
                  <span class="text-white-h text-base font-semibold">
                    {{ getRatingDescription(tv.rating) }}
                  </span>
                  <span class="text-white-l text-sm">Basada en 93 reseñas</span>
                </div>
                <div
                  [ngClass]="['flex items-center justify-center min-h-20 min-w-20 rounded-xl', tv.rating >= 0 && tv.rating < 4 ? 'bg-danger' : tv.rating >= 4 && tv.rating < 6 ? 'bg-warning' : 'bg-success']"
                >
                  <span class="font-geist font-black text-4xl text-white">
                    {{ tv.rating }}
                  </span>
                </div>
              </div>
              <div
                [ngClass]="['w-full h-1.5 mt-4 rounded-full', tv.rating >= 0 && tv.rating < 4 ? 'bg-danger' : tv.rating >= 4 && tv.rating < 6 ? 'bg-warning' : 'bg-success']"
              ></div>
            </div>
            <div class="flex flex-col w-full">
              <div class="flex items-center">
                <div class="flex flex-col w-full mr-4">
                  <span
                    class="text-white-l text-sm letter-spacing-widest uppercase"
                  >
                    Rating de usuarios
                  </span>
                  <span class="text-white-h text-base font-semibold">
                    {{ getUserRatingDescription(getAverageRating(tv)) }}
                  </span>
                  <span class="text-white-l text-sm"
                    >Basada en {{ tv.reviews.length}} {{ tv.reviews.length > 1 ?
                    'reseñas' : 'reseña'}}</span
                  >
                </div>
                <div
                  [ngClass]="['flex items-center justify-center min-h-20 min-w-20 rounded-xl', getAverageRating(tv) >= 0 && getAverageRating(tv) < 4 ? 'bg-danger' : getAverageRating(tv) >= 4 && getAverageRating(tv) < 6 ? 'bg-warning' : 'bg-success']"
                >
                  <span class="font-geist font-black text-4xl text-white">
                    {{ getAverageRating(tv) }}
                  </span>
                </div>
              </div>
              <div
                [ngClass]="['w-full h-1.5 mt-4 rounded-full', getAverageRating(tv) >= 0 && getAverageRating(tv) < 4 ? 'bg-danger' : getAverageRating(tv) >= 4 && getAverageRating(tv) < 6 ? 'bg-warning' : 'bg-success']"
              ></div>
            </div>
          </div>

          <!-- Casting -->
          <div class="w-full pb-2 border-b border-surface-secondary-600">
            <h3 class="text-2xl font-semibold text-white-h">Elenco</h3>
          </div>

          <div class="flex items-center mb-12 overflow-x-scroll text-white-h">
            <div class="flex items-start gap-4 h-full">
              <div
                *ngFor="let cast of tv.detail.cast"
                class="flex flex-col justify-center"
              >
                <div class="size-32 rounded-lg overflow-hidden">
                  <img
                    alt="Silhouette of a person's head"
                    src="assets/avatar-demo.svg"
                  />
                </div>
                <span class="text-xs text-white-m mt-2">{{ cast.actor }}</span>
                <span class="text-sm font-semibold mt-1"
                  >{{ cast.character }}</span
                >
              </div>
            </div>
          </div>

          <div class="w-full pb-2 border-b border-surface-secondary-600">
            <h3 class="text-2xl font-semibold text-white-h">Reseñas</h3>
          </div>

          <!-- Reseñas -->
          <div class="flex flex-col space-y-4">
            <div
              *ngFor="let review of tv.reviews"
              class="p-4 bg-surface-secondary-600 rounded relative"
            >
              <div class="flex flex-col space-y-4 text-white-h">
                <header class="flex items-center justify-between w-full">
                  <div class="inline-flex items-center gap-3">
                    <ion-avatar class="size-8 rounded-xl">
                      <img alt="Foto de perfil" [src]="avatarsMap[review.id]" />
                    </ion-avatar>
                    <span class="text-lg font-semibold">
                      {{ userNamesMap[review.id] }}
                    </span>
                  </div>

                  <div
                    [ngClass]="['flex items-center justify-center size-7 rounded-full', review.rating >= 0 && review.rating < 4 ? 'bg-danger' : review.rating >= 4 && review.rating < 6 ? 'bg-warning' : 'bg-success']"
                  >
                    <span class="font-bold text-white">
                      {{ review.rating }}
                    </span>
                  </div>
                </header>
                <p class="text-sm">{{ review.comment }}</p>
                <footer
                  class="flex items-center justify-end pt-4 border-t border-surface-secondary-400"
                >
                  <div class="inline-flex items-center gap-4">
                    <small class="text-xs text-white-l"
                      >{{ review.date | date:'d \'de\' MMM, y' }}</small
                    >
                    <ion-button
                      (click)="openReportAlert(userNamesMap[review.id])"
                      expand="block"
                      fill="clear"
                      shape="round"
                      class="size-8"
                      color="secondary"
                    >
                      <ion-icon
                        src="assets/icon/report.svg"
                        class="size-5 text-white-l"
                      ></ion-icon>
                    </ion-button>
                  </div>
                </footer>
              </div>
            </div>
          </div>
        </section>

        <!-- Acerca de -->
        <section
          class="flex flex-col space-y-4 my-6"
          *ngIf="selectedSegment === 'about'"
        >
          <div class="w-full pb-2 border-b border-surface-secondary-600">
            <h3 class="text-2xl font-semibold text-white-h">Detalles</h3>
          </div>

          <div class="flex flex-col">
            <div class="mb-2">
              <h4 class="text-lg text-white-m">Resumen</h4>
            </div>
            <div class="mb-4">
              <p class="text-white-h text-sm">{{ tv.detail.description }}</p>
            </div>
            <div class="flex flex-col space-y-4">
              <div
                class="flex flex-col justify-center p-4 space-y-2 bg-surface-secondary-600 text-white-m rounded-xl text-sm"
              >
                <div class="inline-flex gap-2">
                  <span class="font-semibold text-white-h">Género:</span>
                  <ul class="inline-flex p-0">
                    <li *ngFor="let genre of tv.detail.genre" class="">
                      {{ genre }}
                    </li>
                  </ul>
                </div>
                <div class="inline-flex gap-2">
                  <span class="font-semibold text-white-h">
                    Fecha de lanzamiento:
                  </span>
                  <span>
                    {{ tv.detail.releaseDate | date:'d \'de\' MMM, y' }}
                  </span>
                </div>
                <div class="inline-flex gap-2">
                  <span class="font-semibold text-white-h">Temporadas:</span>
                  <span>{{ tv.detail.seasons }}</span>
                </div>
                <div class="inline-flex gap-2">
                  <span class="font-semibold text-white-h">
                    Episodios por temporada:
                  </span>
                  <span>
                    {{ getAverageEpisodes(tv.detail.episodesPerSeason) }}
                    episodios promedio
                  </span>
                </div>
                <div class="inline-flex gap-2">
                  <span class="font-semibold text-white-h">
                    Duración episodios:
                  </span>
                  <span>{{ tv.detail.episodeDuration }} promedio</span>
                </div>
                <div class="inline-flex gap-2">
                  <span class="font-semibold text-white-h">Director:</span>
                  <ul class="inline-flex p-0">
                    <li *ngFor="let director of tv.detail.director">
                      {{ director }}
                    </li>
                  </ul>
                </div>
                <div class="inline-flex gap-2">
                  <span class="font-semibold text-white-h">Productor:</span>
                  <ul class="inline-flex p-0">
                    <li *ngFor="let producer of tv.detail.producer">
                      {{ producer }}
                    </li>
                  </ul>
                </div>
                <div class="inline-flex gap-2">
                  <span class="font-semibold text-white-h">Escritor:</span>
                  <ul class="inline-flex p-0">
                    <li *ngFor="let writer of tv.detail.writer">
                      {{ writer }}
                    </li>
                  </ul>
                </div>
                <div class="inline-flex gap-2">
                  <span class="font-semibold text-white-h">Elenco:</span>
                  <ul class="inline-flex p-0">
                    <li *ngFor="let cast of tv.detail.cast" class="">
                      {{ cast.actor }}
                    </li>
                  </ul>
                </div>
                <div class="inline-flex gap-2">
                  <span class="font-semibold text-white-h">Plataformas:</span>
                  <ul class="inline-flex p-0">
                    <li
                      *ngFor="let streamingPlatform of tv.detail.streamingPlatform"
                    >
                      {{ streamingPlatform }}
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </section>
      </article>
    </div>
  </div>
</ion-content>
