ion-content {
    --padding-top: 20px;
  }
  
  .movie-image-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .movie-image-container img {
    width: 150px; 
    height: auto;
    border-radius: 10px;
  }
  
  .movie-description,
  .movie-details,
  .movie-reviews {
    color: white; 
    margin-bottom: 20px; 
    text-align: center; 
  }
  
  .movie-details ion-item {
    margin-bottom: 10px; 
  }
  
  
  .movie-color-white{
    color: white;
  }

  .custom-chip {
    font-size: 1.2em;
    padding: 10px;
  }
  
  .custom-avatar {
    width: 50px;
    height: 50px;
  
    img {
      width: 100%;
      height: 100%;
    }
  }
  
  .custom-label {
    color: white;
    font-size: 1.2em;
  }