ion-list {
  --ion-background-color: var(--surface-secondary-600-20);
}

ion-item {
  --ion-background-color: transparent;
  --border-color: var(--surface-secondary-600);
  --inner-border-width: 0 0 1px 0;
  --inner-padding-top: 8px;
  --inner-padding-bottom: 8px;
}

ion-item:last-child {
  --inner-border-width: 0 0 0 0;
}

ion-item::part(native) {
  --padding-end: 20px;
  --padding-start: 20px;
}

ion-toggle {
  --handle-background: var(--surface-secondary-500);
  --track-background: var(--surface-secondary-300);
}
