<ion-menu menuId="menu" contentId="main-content" side="end">
  <ion-header class="mt-4">
    <ion-toolbar class="pl-6 pr-3">
      <div slot="start" class="flex gap-2 items-center">
        <ion-avatar class="size-10 mr-1">
          <img
            class="size-10"
            alt="avatar de {{ user?.username }}"
            [ngSrc]="
              user?.profileImage ||
              'https://ionicframework.com/docs/img/demos/avatar.svg'
            "
            width="40"
            height="40"
          />
        </ion-avatar>
        <div class="inline-flex flex-col justify-center">
          <ion-label class="text-secondary-600 font-semibold">{{
            user?.username
          }}</ion-label>
          <span class="text-xs text-white-m">{{ user?.email }}</span>
        </div>
      </div>
      <ion-buttons slot="end">
        <ion-button>
          <ion-icon name="settings-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <div class="px-6" role="separator">
    <hr class="w-full h-px my-4 bg-surface-secondary-400" />
  </div>
  <ion-content>
    <ion-list class="flex flex-col space-y-8">
      <div *ngFor="let p of pages">
        <ion-item>
          <ion-icon
            [src]="p.icon"
            class="size-5 mr-3.5 text-white-l"
          ></ion-icon>
          <ion-label class="ion-no-margin font-medium">{{ p.title }}</ion-label>
        </ion-item>
        <ion-item
          [routerLink]="p.items[0].url"
          routerDirection="root"
          *ngIf="p.items[0]"
          detail
        >
          <ion-label class="ion-no-margin">{{ p.items[0].title }}</ion-label>
        </ion-item>
        <ion-item
          [routerLink]="p.items[1].url"
          routerDirection="root"
          *ngIf="p.items[1]"
          detail
        >
          <ion-label class="ion-no-margin">{{ p.items[1].title }}</ion-label>
        </ion-item>
        <ion-menu-toggle autoHide="false"> </ion-menu-toggle>
      </div>
    </ion-list>
    <ion-footer>
      <ion-menu-toggle autoHide="false">
        <ion-item id="present-alert" [button]="true" (click)="showAlert()">
          <ion-icon
            aria-hidden="true"
            name="log-out"
            slot="end"
            color="primary"
          ></ion-icon>
          <ion-label color="primary">Cerrar sesión</ion-label>
        </ion-item>
      </ion-menu-toggle>
    </ion-footer>
  </ion-content>
</ion-menu>
