ion-menu {
  --width: 254px;
  --min-width: 254px;
  --background: var(--surface-secondary-600);
}

ion-menu::part(container) {
  border-radius: 20px 0 0 20px;
}

ion-content::part(scroll) {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 20px 0 0 20px;
}

ion-content {
  --background: var(--surface-secondary-600);
  --color: rgb(255 255 255 / var(--opacity-h));
}

ion-list {
  --ion-background-color: var(--surface-secondary-600);
}

ion-item {
  --inner-border-width: 0 0 0 0;
  --background: var(--surface-secondary-600);
  --color: rgb(255 255 255 / var(--opacity-h));
  --padding-start: 24px;
  --padding-end: 24px;
}

ion-footer,
ion-header {
  box-shadow: none;
  --background: var(--surface-secondary-600);
  --ion-background-color: var(--surface-secondary-600);
}

ion-label.text-sm {
  font-size: 14px;
}
