span.text-danger {
  color: var(--color-danger) !important;
}

span.text-success {
  color: var(--color-success) !important;
}

span.text-warning {
  color: var(--color-warning) !important;
}

.text-sm {
  font-size: 0.875rem !important;
}
