<mat-nav-list>
  <div class="inline-flex items-center h-12 px-4 mb-2">
    <span class="text-white-h font-semibold">{{ title }}</span>
  </div>

  <a
    *ngFor="let option of options"
    mat-list-item
    (click)="executeAction($event, option.action)"
  >
    <span
      matLine
      [ngClass]="{
        'text-success': option.isSuccess,
        'text-warning': option.isWarning,
        'text-danger text-sm': option.isDanger,
      }"
      >{{ option.label }}</span
    >
  </a>
</mat-nav-list>
