ion-list {
  --ion-background-color: var(--surface-secondary-600-20);
}

ion-item {
  --ion-background-color: transparent;
  --border-color: var(--surface-secondary-600);
  --inner-border-width: 0 0 1px 0;
  --inner-padding-top: 8px;
  --inner-padding-bottom: 8px;
}

ion-item:last-child {
  --inner-border-width: 0 0 0 0;
}

ion-toggle {
  --handle-background: var(--surface-secondary-500);
  --track-background: var(--surface-secondary-300);
}

ion-segment-button.md {
  --color: rgb(255 255 255 / var(--opacity-m));
  --color-checked: var(--color-secondary-600);
  --indicator-height: 4px;
  text-transform: capitalize;
}

ion-skeleton-text {
  height: 22px !important;
  width: 30% !important;
  border-radius: 50px !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
