<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <div class="flex items-center h-full pl-4">
      <img
        [ngSrc]='"assets/logo/critic-verse-horizontal-logo-350x100.webp"'
        alt="Critic Verse Logo"
        width="128"
        height="37"
        priority="true"
        class="w-32"
      />
    </div>
    <ion-buttons slot="end">
      <ion-menu-button>
        <ion-icon
          src="assets/icon/hamburger.svg"
          class="size-8 text-white-l"
        ></ion-icon>
      </ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Películas</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>
